header.header-s
    .header-s__wrap.container
        .header-s__logo
            a(href="#")
                img(src="static/img/general/logo.png")
                h1 Flaby
        nav.header-s__nav
            +list(['Home', 'Services', 'Portfolio', 'Blog', 'Contact Us', 'Login'], 'header-list')
        hr.header-s__line
