header.header-s
    .container
        nav.header-s__nav
            a.header-s__logo(href="#")
                img(src="static/img/general/logo.png")
                h1 Flaby
            +list(['Home', 'Services', 'Portfolio', 'Blog', 'Contact Us', 'Login'], 'header-list')
        hr
.intro-s
    .container