.intro-s
    .container.intro-s__main
        .intro-s__title
            h2 Flat + Free = Flaby
            p A Modern Flat design corporate template for free download with all great features and trendy look.
            .intro-s__btn-wrap
                a(href="#").btn.btn--one Google Store
                    img(src="static/img/content/intro_s/Google Play.png")
                a(href="#").btn.btn--two Learn More
            .intro-s__phone-block
                img(src="static/img/svg/intro_s/Phone.svg")
                img(src="static/img/content/intro_s/place image.png").intro-s__phone-block--input
    img.intro-s__head.shadow(src="static/img/content/intro_s/Headphones.png")
    .intro-s__pencils-block
        img.intro-s__pencils-block--one.shadow(src="static/img/content/intro_s/Pencil 1.png")
        img.intro-s__pencils-block--two.shadow(src="static/img/content/intro_s/Pencil 2.png")
    img.intro-s__earphones.shadow(src="static/img/content/intro_s/Earphones.png")