.services-s
    .container
        .main-title
            p Welcome to
            h3 Our Services
            hr
        .services-block
            .services-block__item
                img(src="static/img/content/services_s/Web-development.png")
                h4 Web Development
                p There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult
            .services-block__item
                img(src="static/img/content/services_s/Photography.png")
                h4 Photography
                p There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult
            .services-block__item
                img(src="static/img/content/services_s/Vector-artist.png")
                h4 Vector Artist
                p There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult