doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="static/css/main.css")
        title Flaby
    body
        include ../partials/_mixins
        include ../components/header
        include ../components/intro
        include ../components/services
        include  ../components/unlimited